<!-- Search Bar -->
<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/index.css">
    </head>
    <body>
        <h1><center>CleanSweep</center></h1>
        <form class="example" method="post" action="/" style="margin:auto;max-width:600px">
            <input type="text" placeholder="" name="search_string">
            <button type="submit"><i class="fa fa-search"></i>
            </button>
        </form>
        <p></p>
        <center>
        <table>
            <tr>
                <th>item</th>
                <th>data</th>
            </tr>
            {% for item in data %}
            <tr>
                <td>{{ item }}</td>
                <td>{{ data[item] }}</td>
            </tr>
            {% endfor %}
        </table>
        <table>
            <tr>
                <th>id</th>
                <th>abs_path</th>
                <th>sha1</th>
            </tr>
            {% for entry in examples %}
            <tr>
                <td>{{ entry['id'] }}</td>
                <td>{{ entry['abs_path'] }}</td>
                <td>{{ entry['sha1'] }}</td>
            </tr>
            {% endfor %}
        </table>
         </center>
    </body>
</html>
